<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title>Health Checker 1.0</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body onload="hideFunc()">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>자가 진단</h1>
    </div>

    <form method="POST" th:action="@{/survey/check}">
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">질문</th>
                <th style="padding:13px 0 0 15px;" colspan="4">선택지</th>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">당신의 성별은?</th>
                <td colspan="1"><input type="radio" name="gender" value="M"> 남자</td>
                <td colspan="3"><input type="radio" name="gender" value="F"> 여자</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">당신의 나이는?</th>
                <td colspan="1"><input type="radio" name="age" value="less_14"> 14살 미만</td>
                <td colspan="1"><input type="radio" name="age" value="between_14_19"> 14~19살 </td>
                <td colspan="2"><input type="radio" name="age" value="above_19"> 19살 이상</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">어디가 아프신가요?</th>
                <div>
                    <td colspan="1"><input type="radio" name="part" value="head" id="part_head"> 머리</td>
                    <td colspan="1"><input type="radio" name="part" value="chest" id="part_chest"> 가슴</td>
                    <td colspan="1"><input type="radio" name="part" value="resp" id="part_resp"> 호흡기</td>
                    <td colspan="1"><input type="radio" name="part" value="stomach" id="part_stomach"> 배</td>
                </div>
            </tr>
            <tr id="part_head_show">
                <th style="padding:13px 0 0 15px;">머리 어디가 아픈가요?</th>
                <td colspan="1"><input type="radio" name="head_where" value="head_front"> 머리 앞</td>
                <td colspan="1"><input type="radio" name="head_where" value="head_back"> 머리 뒤</td>
                <td colspan="2"><input type="radio" name="head_where" value="head_side"> 머리 옆</td>
            </tr>
            <tr id="part_chest_show">
                <th style="padding:13px 0 0 15px;">가슴 어디가 아픈가요?</th>
                <td colspan="1"><input type="radio" name="chest_where" value="chest_front"> 가슴 앞</td>
                <td colspan="1"><input type="radio" name="chest_where" value="chest_back"> 가슴 뒤</td>
                <td colspan="1"><input type="radio" name="chest_where" value="chest_left"> 왼쪽 가슴</td>
                <td colspan="1"><input type="radio" name="chest_where" value="chest_right"> 오른쪽 가슴</td>
            </tr>
            <tr id="part_resp_show">
                <th style="padding:13px 0 0 15px;">호흡기 어디가 아픈가요?</th>
                <td colspan="1"><input type="radio" name="resp_where" value="resp_nose"> 코</td>
                <td colspan="3"><input type="radio" name="resp_where" value="resp_neck"> 목</td>
            </tr>
            <tr id="part_stomach_show">
                <th style="padding:13px 0 0 15px;">배 어디가 아픈가요?</th>
                <td colspan="1"><input type="radio" name="stomach_where" value="head_front"> 윗 배</td>
                <td colspan="3"><input type="radio" name="stomach_where" value="head_back"> 아랫 배</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">증상이 어떻게 되나요?</th>
                <td colspan="1"><input type="radio" name="how" value="poke"> 찌르듯이 아픔</td>
                <td colspan="1"><input type="radio" name="how" value="pressure"> 누르듯이 아픔</td>
                <td colspan="1"><input type="radio" name="how" value="bitter"> 쓰라림</td>
                <td colspan="1"><input type="radio" name="how" value="other"> 그 외</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">증상이 얼마나 오래 되었나요?</th>
                <td colspan="1"><input type="radio" name="duration" value="less_week"> 일주일 미만</td>
                <td colspan="1"><input type="radio" name="duration" value="less_month"> 한달 미만</td>
                <td colspan="1"><input type="radio" name="duration" value="less_six_month"> 여섯달 미만</td>
                <td colspan="1"><input type="radio" name="duration" value="more_six_month"> 여섯달 이상</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">하루에 얼마나 자주 아픈가요?</th>
                <td colspan="1"><input type="radio" name="frequency" value="less_twice"> 2번 미만</td>
                <td colspan="1"><input type="radio" name="frequency" value="less_four"> 4번 미만</td>
                <td colspan="1"><input type="radio" name="frequency" value="always"> 항상</td>
                <td colspan="1"><input type="radio" name="frequency" value="dont_know"> 모른다</td>
            </tr>
        </table>
        <div class="pull-left">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $("#part_head").click(function(){
                $("#part_chest_show").hide();
                $("#part_resp_show").hide();
                $("#part_stomach_show").hide();
                $("#part_head_show").show(1000);
            });

            $("#part_chest").click(function(){
                $("#part_resp_show").hide();
                $("#part_stomach_show").hide();
                $("#part_head_show").hide();
                $("#part_chest_show").show(1000);
            });

            $("#part_resp").click(function(){
                $("#part_chest_show").hide();
                $("#part_stomach_show").hide();
                $("#part_head_show").hide();
                $("#part_resp_show").show(1000);
            });

            $("#part_stomach").click(function(){
                $("#part_chest_show").hide();
                $("#part_resp_show").hide();
                $("#part_head_show").hide();
                $("#part_stomach_show").show(1000);
            });
        });

        function hideFunc(){
            $("#part_head_show").hide();
            $("#part_chest_show").hide();
            $("#part_resp_show").hide();
            $("#part_stomach_show").hide();
        }
    </script>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>