<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title>Health Checker 1.0</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body onload="hideFunc()">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>자가 진단</h1>
    </div>

    <form method="POST" th:action="@{/survey/check}">
        <div class="page-information">
            <h3>흉통</h3>
        </div>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">질문</th>
                <th style="padding:13px 0 0 15px;" colspan="4">선택지</th>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">1. 흉통 위치</th>
                <td colspan="1"><input type="radio" name="part" value="1" id="1"> 앞 가슴</td>
                <td colspan="1"><input type="radio" name="part" value="2" id="2"> 명치 부근</td>
                <td colspan="1"><input type="radio" name="part" value="3" id="3"> 가슴 근육/뼈</td>
                <td colspan="1"><input type="radio" name="part" value="4" id="4"> 왼쪽 가슴</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">2. 통증의 형태</th>
                <td colspan="1"><input type="radio" name="head_where" value="1"> 묵직한 통증</td>
                <td colspan="1"><input type="radio" name="head_where" value="2"> 타는 듯한 통증</td>
                <td colspan="1"><input type="radio" name="head_where" value="3"> 찌르는 듯한 통증</td>
                <td colspan="1"><input type="radio" name="head_where" value="4"> 기타</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">3. 통증 지속기간</th>
                <td colspan="1"><input type="radio" name="chest_where" value="1"> 가슴 앞</td>
                <td colspan="1"><input type="radio" name="chest_where" value="2"> 가슴 뒤</td>
                <td colspan="1"><input type="radio" name="chest_where" value="3"> 왼쪽 가슴</td>
                <td colspan="1"><input type="radio" name="chest_where" value="4"> 오른쪽 가슴</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">4. 통증이 발생하는 상황</th>
                <td colspan="1"><input type="radio" name="chest_where2" value="1"> 가슴 앞</td>
                <td colspan="1"><input type="radio" name="chest_where2" value="2"> 가슴 뒤</td>
                <td colspan="1"><input type="radio" name="chest_where2" value="3"> 왼쪽 가슴</td>
                <td colspan="1"><input type="radio" name="chest_where2" value="4"> 오른쪽 가슴</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">5. 통증 강도</th>
                <td colspan="1"><input type="radio" name="chest_where3" value="1"> 가슴 앞</td>
                <td colspan="1"><input type="radio" name="chest_where3" value="2"> 가슴 뒤</td>
                <td colspan="1"><input type="radio" name="chest_where3" value="3"> 왼쪽 가슴</td>
                <td colspan="1"><input type="radio" name="chest_where3" value="4"> 오른쪽 가슴</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">6. 통증이 주변 부위로 전파 되나요?</th>
                <td colspan="1"><input type="radio" name="chest_where4" value="1"> 예</td>
                <td colspan="3"><input type="radio" name="chest_where4" value="2"> 아니오</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">7. 특정 행동 혹은 자세를 취하면 호전되나요?</th>
                <td colspan="1"><input type="radio" name="chest_where2" value="1"> 가슴 앞</td>
                <td colspan="1"><input type="radio" name="chest_where2" value="2"> 가슴 뒤</td>
                <td colspan="2"><input type="radio" name="chest_where2" value="3"> 왼쪽 가슴</td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">8. 특이사항</th>
                <td colspan="1"><input type="radio" name="chest_where2" value="1"> 가슴 앞</td>
                <td colspan="3"><input type="radio" name="chest_where2" value="2"> 가슴 뒤</td>
            </tr>
        </table>
        <br><br>
        <div class="page-information">
            <h3>호흡기</h3>
        </div>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">질문</th>
                <th style="padding:13px 0 0 15px;" colspan="4">선택지</th>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">1. 피로감, 어지럼증, 복통, <br>구토, 발연 등이 동반 되는지</th>
                <td colspan="1"><input type="radio" name="part" value="1"> 앞 가슴</td>
                <td colspan="1"><input type="radio" name="part" value="2"> 명치 부근</td>
                <td colspan="1"><input type="radio" name="part" value="3"> 가슴 근육/뼈</td>
                <td colspan="1"><input type="radio" name="part" value="4"> 왼쪽 가슴</td>
            </tr>
        </table>
        <br><br>
        <div class="page-information">
            <h3>복통</h3>
        </div>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">질문</th>
                <th style="padding:13px 0 0 15px;" colspan="4">선택지</th>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">1. 통증 위치</th>
                <td colspan="1"><input type="radio" name="part" value="1"> 앞 가슴</td>
                <td colspan="1"><input type="radio" name="part" value="2"> 명치 부근</td>
                <td colspan="1"><input type="radio" name="part" value="3"> 가슴 근육/뼈</td>
                <td colspan="1"><input type="radio" name="part" value="4"> 왼쪽 가슴</td>
            </tr>
        </table>
        <br><br>
        <div class="page-information">
            <h3>두통</h3>
        </div>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">질문</th>
                <th style="padding:13px 0 0 15px;" colspan="4">선택지</th>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">1. 통증 위치</th>
                <td colspan="1"><input type="radio" name="part" value="1"> 앞 가슴</td>
                <td colspan="1"><input type="radio" name="part" value="2"> 명치 부근</td>
                <td colspan="1"><input type="radio" name="part" value="3"> 가슴 근육/뼈</td>
                <td colspan="1"><input type="radio" name="part" value="4"> 왼쪽 가슴</td>
            </tr>
        </table>
        <div class="pull-left">
            <input type="submit" class="btn btn-primary" value="진단하기" />
        </div>
    </form>

    <script>
        // $(document).ready(function(){
        //     $("#part_head").click(function(){
        //         $("#part_chest_show").hide();
        //         $("#part_resp_show").hide();
        //         $("#part_stomach_show").hide();
        //         $("#part_head_show").show(1000);
        //     });
        //
        //     $("#part_chest").click(function(){
        //         $("#part_resp_show").hide();
        //         $("#part_stomach_show").hide();
        //         $("#part_head_show").hide();
        //         $("#part_chest_show").show(1000);
        //     });
        //
        //     $("#part_resp").click(function(){
        //         $("#part_chest_show").hide();
        //         $("#part_stomach_show").hide();
        //         $("#part_head_show").hide();
        //         $("#part_resp_show").show(1000);
        //     });
        //
        //     $("#part_stomach").click(function(){
        //         $("#part_chest_show").hide();
        //         $("#part_resp_show").hide();
        //         $("#part_head_show").hide();
        //         $("#part_stomach_show").show(1000);
        //     });
        // });
        //
        // function hideFunc(){
        //     $("#part_head_show").hide();
        //     $("#part_chest_show").hide();
        //     $("#part_resp_show").hide();
        //     $("#part_stomach_show").hide();
        // }
    </script>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>