<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title>Health Checker 1.0</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>회원가입</h1>
    </div>

    <form method="POST" th:action="@{/user/register}">
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">이름</th>
                <td><input name="name" type="text" class="col-md-1 form-control input-sm" style="width: 50%"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">이메일</th>
                <td><input name="email" type="text" class="col-md-1 form-control input-sm" style="width: 50%"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">비밀번호</th>
                <td><input name="password" type="password" class="col-md-1 form-control input-sm" style="width: 50%"/></td>
            </tr>
        </table>
        <div class="pull-left">
            <input type="submit" class="btn btn-primary" value="회원가입" />
        </div>
    </form>

</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>